/* Colors */
/* ----------Spacings*/
/* mobile*/
/* Font-family */
/* ---------Font-Sizes */
/* mobile */
/* tablet & desktop */
/*--- RESET ---*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Heebo", sans-serif;
  background-color: #000000; }

.main__container {
  background-image: url(../sources/stars.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/*HEADER*/
.navbar {
  background-color: #000000; }
  .navbar__img {
    width: 20%;
    margin-left: 30%; }

/*FOOTER*/
.footer {
  display: grid;
  grid-template-areas: "logo nav info";
  background-color: #000000; }
  .footer__img {
    grid-area: logo;
    width: 60%;
    justify-self: center;
    align-self: center; }
  .footer__nav {
    grid-area: nav;
    align-self: center;
    justify-self: center; }
  .footer__info {
    grid-area: info;
    align-self: center;
    justify-self: center;
    width: auto; }
  .footer__info h5 {
    color: #fafafa;
    text-align: center;
    font-size: 4vw; }
  .footer__info ul {
    list-style-type: none; }
  .footer__info li {
    text-decoration: none;
    color: #fafafa;
    padding: 0.1vw;
    font-size: 3vw; }

/* CARDS*/
.cards h1 {
  text-align: center;
  color: #fafafa;
  padding: 4vw;
  font-size: 12vw;
  font-weight: bold;
  font-family: "Lato", sans-serif; }

.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2vw; }

.derechos {
  text-align: center;
  color: #fafafa;
  font-style: italic;
  padding: 2vw;
  font-size: 3vw; }

/*pagina REGISTRO*/
.registro__container {
  background-image: url(../sources/vader.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .registro__container h1 {
    text-align: center;
    color: #fafafa;
    padding: 4vw;
    font-size: 12vw;
    font-weight: bold;
    font-family: "Lato", sans-serif; }

.registro {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
  text-align: center;
  color: #fafafa;
  font-size: 3vw;
  text-shadow: black 0.1em 0.1em 0.2em; }

.force {
  text-align: center;
  color: #e6c611;
  font-size: 3vw;
  font-style: italic;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%; }

/*seccion videos*/
.video__container {
  background-image: url(../sources/obiwankenobi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .video__container h1 {
    text-align: center;
    color: #fafafa;
    padding: 1.5vw;
    font-size: 12vw;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .video__container h3 {
    text-align: center;
    color: #fafafa;
    padding: 0.1vw;
    font-size: 4vw;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-top: 10%; }
  .video__container p {
    text-align: center;
    color: #fafafa;
    font-size: 3vw;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-left: 15%;
    margin-right: 15%; }

.peli__h1 {
  text-align: center;
  color: #fafafa;
  padding: 1.5vw;
  font-size: 12vw;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-shadow: black 0.1em 0.1em 0.2em; }

.card {
  background: transparent;
  border: none; }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }

/* media query 480px min a 768 max */
@media screen and (min-width: 480px) {
  .footer__img {
    width: 20vw; }
  .footer__info h5 {
    font-size: 1.7em; }
  .footer__info li {
    font-size: 1em; }
  .cards h1 {
    font-size: 4.1em; }
  .derechos {
    font-size: 1.3em; }
  .registro__container h1 {
    font-size: 4.1em; }
  .registro {
    font-size: 1.3em; }
  .force {
    font-size: 1.3em; }
  .video__container h1 {
    font-size: 4.1em; }
  .video__container h3 {
    font-size: 1.7em; }
  .video__container p {
    font-size: 1.3em; }
  .peli__h1 {
    font-size: 3.5em; } }
